@import 'signin';
@import 'board';
@import 'buttons';
@import 'form';
@import 'card';
@import 'common';
@import 'flash';
@import 'task';
@import 'comment';
@import 'header';
@import 'profile';


html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    height: 100%;
  }

.container{
    margin-top: 30px;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
