@import './variables'; 
.card_title{
    height: 25px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $text-base-color;
}

.card_text{
    height: 19px;
    margin-top: 6px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $text-base-color;
    mix-blend-mode: normal;
    opacity: 0.4;
}
