.btn-primary{
    position: absolute;
    width: 362px;
    height: 40px;
    left: 30px;
    top: 889px;
    
    background: #F8BD1C;
    border-radius: 4px;
    }

    .btn-secondary {
        width: 362px;
        height: 57px;

        background: #FFFFFF;
        border: 1px dashed rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-left: 24px;
        color: #000000;
      }