@import './variables'; 
.btn-primary{
    width: 332px;
    height: 40px;
    margin-top: 250px;
    border: none;
    background: #F8BD1C;
    border-radius: 4px;
    color: white;
    font-weight: 800;
    font-size: 15px;
    }

    .btn-secondary {
        width: 332px;
        height: 57px;

        background: #FFFFFF;
        border: 1px dashed rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 24px;
        color: $text-base-color;
      }