@import './variables'; 
.top_label{
    height: 36px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    margin-left: 30px;
    color: $text-base-color;
}

.new_label{
    height: 36px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    color: $text-base-color;
}

.title_label{
width: 49px;
height: 25px;
margin-top: 29px;
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: $text-base-color;
}

.content_label{
    width: 92px;
    height: 25px;
    margin-top: 33px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $text-base-color;
}
input {
    &.text {
        width: 332px;
        height: 40px;
        margin-top: 8px;
        background: #F4F4F4;
        border-radius: 10px; 
        border: none;
    }
  }
  
  textarea {
    width: 332px;
    height: 203px;
    margin-top: 8px;
    border: none;
    background: #F4F4F4;
    border-radius: 10px;
  }

  .add_new{
    width: 332px;
    height: 160px;
    margin-top: 26px;
    margin-left: 30px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.add_new_label{
    text-align: center;
    margin-top: 68px;
    color: $text-base-color;
}

.form_container{
    margin-top: 33px;
    margin-left: 26px;
}